//--Created by yangli on 5/02/15.
h1.text-center Login!
.clearfix
form.subform-container-text(name="login" ng-submit="login.$valid && logins()" novalidate)
    .form-group.col-sm-12
        label.col-sm-4.control-label.text-right Email
        .col-sm-5
            input.form-control(type="email" ng-model="details.email" name="email")
    .form-group.col-sm-12
        label.col-sm-4.control-label.text-right Password
        .col-sm-5
            input.form-control(type="password" ng-model="details.password" name="password")

    .form-group.col-sm-12
        .col-sm-offset-5.col-sm-2.text-center
            button.btn.btn-default.btn-lg(type="submit") register!

    .form-group.col-sm-12
        .col-sm-offset-5.text-center.col-sm-2
            a(ui-sref="signup") sign up here
