//-- Created by yangli on 5/02/15.
h1.text-center Sign Up to Qwilr Market!
.clearfix

form.subform-container-text(name="signup" ng-submit="signup.$valid && register()" novalidate)
    .form-group.col-sm-12
        label.col-sm-4.control-label.text-right Name
        .col-sm-5
            input.form-control(type="text" ng-model="details.name" name="name")

    .form-group.col-sm-12
        label.col-sm-4.control-label.text-right Email
        .col-sm-5
            input.form-control(type="email" ng-model="details.email" name="email")

    .form-group.col-sm-12
        label.col-sm-4.control-label.text-right Password
        .col-sm-5
            input.form-control(type="password" ng-model="details.password" name="password")

    .form-group.col-sm-12
        label.col-sm-4.control-label.text-right Amount $
        .col-sm-5
            input.form-control(type="number" ng-model="details.amount" name="amount")

    .form-group.col-sm-12
        .col-sm-offset-6
            button.btn.btn-default.btn-lg(type="submit") register!



